#textarea {
	width: 400px;
	height: 75vh;
	padding: 10px;
	border: 2px solid black;
	box-sizing: border-box;
	
	overflow-y: auto; /* 내용이 길면 스크롤바가 생기고 평소에는 없음 */
	background-color: #d5e4ff;
	margin-bottom: 10px;
}
.self, .other, .alarm {
	padding: 5px;
	font-size: 14px;
	display: flex;
	flex-flow: column;
}
.self {
	justify-content: flex-end;
	align-items: flex-end;
	margin: auto;
	margin-right: 0;
}
.other {
	justify-content: flex-start;
	align-items: flex-start;
}
.name {
	font-weight: bold;
}
.message {
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
	box-shadow: 1px 1px 1px darkgrey;
	cursor: pointer;
}
.self > .message {
	background-color: #ffc;
}
.other > .message {
	background-color: white;
}
.alarm {
	flex-flow: row;
	justify-content: center;
}
.alarm > .name {
	display: none;
}
.alarm > .message {
	border: 0;
	box-shadow: none;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}